:root {
  --h: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

html,
body {
  min-height: 100%;
}

body {
  line-height: 1.5;
  font-size: 1rem;
  background-color: #2d71ae;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0.8rem;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
}

.headerBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 2rem;
}

.logo a {
  display: inline-flex;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-family: sans-serif;
  font-weight: 700;
}

.logoText {
  align-self: flex-end;
}

.filter {
  position: relative;
  width: 2rem;
  height: 2rem;
  transition: all ease-in-out 0.28s;
}

.filterBtn {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all ease-in 0.28s;
}

.filterForm {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  max-width: 350px;
  z-index: 50;
  top: -0.5rem;
  right: -0.8rem;
  width: 80vw;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: all ease-in-out 0.28s;
  background: #1a4f7e;
  box-shadow: 0 0 12px rgba(0, 255, 150, 0.5);
  color: white;
}

.filterForm button {
  background: #00ff96;
  color: #123a62;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  align-self: center;
}

.filterForm button:hover {
  background: #00cc7a;
  cursor: pointer;
}

.showFilter {
  right: -550px;
}

.filterFormSortBy,
.filterFormSortOrder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}

.filterFormSortBy div,
.filterFormSortOrder div {
  align-self: baseline;
  border-radius: 0.3rem;
  padding: 0.1rem 0.5rem;
  background-color: #fff;
  color: #123a62;
  transition: all ease-in 0.28s;
}

.filterFormSortBy div:hover,
.filterFormSortOrder div:hover {
  opacity: 0.8;
}

.filterForm h4 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.genresBlock {
}

.genresBlockBtn {
  text-align: right;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all ease-in 0.28s;
}

.genresBlockBtn::before {
  content: "◀";
  display: inline-block;
  padding-right: 0.5rem;
  transition: all ease-in-out 0.28s;
}

.genresBlockBtn:hover {
  opacity: 0.8;
}

.genresBlockBtn:hover::before {
  padding-right: 1rem;
}

.genresSelectBlock {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: all ease-out 0.28s;
}

.genresSelect {
  position: absolute;
  left: 0;
  bottom: 0;
}

.genresSelectBlockShow {
  height: var(--h);
}

.rotateBtn.genresBlockBtn::before {
  transform: translate(0) rotate(-90deg);
  padding-right: 1rem;
}

.formSearch {
  width: 100%;
  max-width: 520px;
  display: flex;
  gap: 0.8rem;
  justify-content: space-between;
}

.search {
  align-content: baseline;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
}

.search:focus {
  box-shadow: 0.2rem 0.2rem 0.8rem #00ff96;
}

.btnSearch {
  width: 3rem;
  border: none;
  border-radius: 0.5rem;
  background: #00ff96;
  transition: all ease-in-out 0.28s;
}

.btnSearch:hover {
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.mainContent {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem 1rem;
}

@media screen and (min-width: 480px) {
  .mainContent {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .mainContent {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .mainContent {
    grid-template-columns: repeat(5, 1fr);
  }
}

.blockAnimeItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: azure;
  border-radius: 0.7rem;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in 0.28s;
}

.blockAnimeItem:hover {
  box-shadow: 0 0 15px rgba(0, 255, 150, 0.7);
  transform: scale(1.05);
}

.animeImg {
  width: 100%;
}

.animeInfoBlock {
  padding: 0.4rem;
}

.animeTitle {
  font-weight: 500;
}

.animeRanking,
.animeEpisodes {
  font-size: 0.7rem;
  font-weight: 300;
  text-transform: uppercase;
}

.btnShowMore {
  align-self: center;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.7rem;
  color: #123a62;
  background: #00ff96;
  border: none;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.28s;
}

.btnShowMore:hover {
  cursor: pointer;
}
